<div class="bg-img">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="email" [(ngModel)]='usuario.email' class="form-control"
                                placeholder="email">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="senha" [(ngModel)]='usuario.senha' class="form-control"
                                placeholder="senha">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Mantenha-me conectado
                        </div>
                        <div class="form-group">
                            <button (click)="loginUsuario();" class="btn float-right login_btn" type="submit"
                                value="Login">Logar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Você não tem uma conta?<a href="#">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Você esqueceu a sua senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>